<div class="filters">
  <select [(ngModel)]="selectedCountryCode" (change)="onSelectChange()" class="search-input">
    <option value="">Todos os países</option>
    <option *ngFor="let country of availableCountries" [value]="country.code">
      {{ country.name }}
    </option>
  </select>
  <button class="btn-limpar" (click)="clearFilters()">Limpar</button>
</div>

<div class="map-container">
  <div class="map-area">
    <div class="legend">
      <h4>Legenda</h4>
      <div class="legend-item">
        <div class="legend-color green"></div> País conquistado
      </div>
      <div class="legend-item">
        <div class="legend-color red"></div> País pesquisado
      </div>
      <div class="legend-item">
        <div class="legend-color gray"></div> País sem itens
      </div>
    </div>

    <div #svgContainer class="svg-container"></div>

    <div class="tooltip" *ngIf="tooltipVisible" [ngStyle]="tooltipStyle">
      {{ tooltipCountry }}: {{ tooltipInfo }}
    </div>
  </div>

  <div class="country-list-container">
    <h2>Países e itens numismáticos</h2>
    <table class="country-table">
      <thead>
        <tr>
          <th>País</th>
          <th>Moedas</th>
          <th>Cédulas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of userCountries | filterCountry:searchTerm">
          <td data-label="País">{{ country.name }}</td>
          <td data-label="Moedas">{{ country.coins }}</td>
          <td data-label="Cédulas">{{ country.banknotes }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>