<div class="home-container">
  <!-- ===== CABEÇALHO ===== -->
  <header class="home-header">
    <div class="logo">
      <img src="assets/img/Logo.png" alt="Logo" />
      <h2>Álbum Numismático</h2>
    </div>
    <nav class="menu">
      <a routerLink="/">Início</a>
      <a (click)="goToLogin()">Entrar</a>
    </nav>
  </header>

  <div class="reset-container">
    <h2>Redefinir Senha</h2>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="password">Nova Senha</label>
        <input type="password" id="password" formControlName="password" placeholder="Digite sua nova senha">
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirmar Nova Senha</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword"
          placeholder="Confirme sua nova senha">
      </div>

      <button type="submit" class="btn" [disabled]="resetForm.invalid">Redefinir Senha</button>
    </form>
  </div>

</div>