<div class="wrapper d-flex align-items-stretch" [ngStyle]="{'color': sidebarTxtColor}">

    <nav id="horizontal-bar" class="d-flex align-items-center" [ngStyle]="{'background-color': sidebarColor}">
        <ul class="horizontal-menu list-unstyled d-flex">
            <li><a href="/home"><i class="fa fa-home"></i><span></span></a></li>
            <li><a href="/profile"><i class="fa fa-user"></i><span></span></a></li>
            <li><a href="/settings"><i class="fa fa-cog"></i><span></span></a></li>
            <li><a href="/help"><i class="fa fa-question-circle"></i><span></span></a></li>
            <div class="checkboxDiv">
                <input type="checkbox" name="checkbox" id="darkModeToggle" (change)="toggleDarkMode()"
                    [checked]="isDarkMode">
                <label for="darkModeToggle" class="checkbox-label">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <span class="ball"></span>
                </label>
            </div>
        </ul>
    </nav>

    <nav id="sidebar" [ngClass]="{ 'active': isSidebarActive, 'minimized': isSidebarMinimizedActive }">
        <div class="custom-menu">
            <button type="button" class="btn btn-primary" (click)="toggleSidebar()"
                [ngStyle]="{'--sidebar-color': sidebarColor}">
                <i class="fas fa-bars" [ngStyle]="{'color': sidebarTxtColor}"></i>
            </button>
        </div>
        <div class="container" [ngStyle]="{'background-color': sidebarColor}">

            <a href="/home"><img src="../../assets/img/Logo.png" class="logo-img"></a>
            <div class="line" [ngStyle]="{'background-color': sidebarLnColor}"></div>
            <ul class="list-unstyled">
                <li>
                    <a href="/home"><i class="fa-regular fa-chess-king"></i><span>Home</span></a>
                </li>
                <li>
                    <a href="/album"><i class="fa fa-book" aria-hidden="true"></i><span>Álbum</span></a>
                </li>
                <li>
                    <a href="/listar"><i class="fa-solid fa-list"></i><span>Listar</span></a>
                </li>
            </ul>
            <div class="line" [ngStyle]="{'background-color': sidebarLnColor}"></div>
            <div class="logout">
                <h2>{{ name }}</h2>
                <img *ngIf="photo; else defaultImg" [src]="photo" class="profile-image">
                <ng-template #defaultImg>
                    <img src="../../assets/img/person.png" class="profile-image">
                </ng-template>
                <button class="logout" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i><span>
                        Logout</span></button>
            </div>
            <button class="buttonMinimized" (click)="toggleSidebarMinimized()"
                [ngStyle]="{'background-color': sidebarBtColor}">
                <i [ngClass]="isSidebarMinimizedActive ? 'fa-solid fa-chevron-right' : 'fa-solid fa-chevron-left'"
                    [ngStyle]="{'color': sidebarTxtColor}"></i>
            </button>
        </div>
    </nav>
</div>