/* Barra horizontal fixa */
h2,
h1,
p,
a,
h3,
li {
  font-family: "Open Sans", sans-serif;
}

#horizontal-bar {
  width: 100%;
  height: 60px;
  color: var(--sidebar-txt-color, #fff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #333;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
}

.menu {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.menu a {
  color: white;
  font-weight: bold;
  transition: color 0.3s;
  color: #333;
}

.menu a:hover {
  color: hsl(51, 98%, 42%);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Responsivo */
@media screen and (max-width: 768px) {
  #horizontal-bar {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
  }
}