<!-- ===== CABEÇALHO ===== -->
<app-header *ngIf="showHeader"></app-header>
<!-- ===== CABEÇALHO ===== -->


<div class="home-container">
  <!-- ===== CABEÇALHO ===== -->
  <header class="home-header">
    <div class="logo">
      <img src="assets/img/Logo.png" alt="Logo" />
      <h2>Álbum Numismático</h2>
    </div>
    <nav class="menu">
      <a routerLink="/">Início</a>
      <a (click)="goToRegister()">Cadastro</a>
    </nav>
  </header>




  <div class="container" [class.sign-up-mode]="isSignUpMode">
    <div class="forms-container">
      <div class="signin-signup">
        <!-- Sign In Form -->
        <form class="sign-in-form" (ngSubmit)="logar()">
          <h2 class="title">Entrar</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" id="email" name="email" autocomplete="off" [(ngModel)]="dados.email" required
              placeholder="E-mail">
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" name="password" [(ngModel)]="dados.password" required
              placeholder="Senha">
          </div>

          <button type="submit" [ngStyle]="{ 'background-color': getButtonBackgroundColor() }" class="login-button">
            Login
          </button>
          <a (click)="goToPasswordReset()">Esqueci minha senha!</a>
        </form>



        <!-- Sign Up Form -->
        <form (ngSubmit)="onSignUp()" class="sign-up-form">
          <h2 class="title">Cadastro</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" id="name" name="signUpDataName" autocomplete="off" [(ngModel)]="signUpData.name" required
              placeholder="Nome">
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" [(ngModel)]="signUpData.email" name="signupEmail" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Senha" [(ngModel)]="signUpData.password" name="signupPassword" />
          </div>
          <div class="input-field">
            <i class="fas fa-phone"></i>
            <input type="text" placeholder="Telefone" [(ngModel)]="signUpData.number" name="signupNumber" />
          </div>
          <input type="submit" class="btn" value="Cadastrar" />
        </form>
      </div>
    </div>




    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Não possui conta ?</h3>
          <p>Para se cadastrar é fácil, clique no botão abaixo, <strong>grátis</strong> por 3 meses.</p>
          <button class="btn transparent" (click)="toggleMode()">Cadrastrar</button>
        </div>
        <img src="../../assets/img/1.svg" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>Já possuo conta</h3>
          <p>Bem-vindo de volta! Faça login para continuar atualizando seu álbum.</p>
          <button class="btn transparent" (click)="toggleMode()">Entrar</button>
        </div>
        <img src="../../assets/img/sign-up.svg" class="image" alt="" />
      </div>
    </div>
  </div>