@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,

h2,
h1,
p,
a,
h3,
li {
  font-family: "Open Sans", sans-serif;
}

.home-container {
  font-family: "Open Sans", sans-serif;
  color: hsl(220, 68%, 4%);
  background: #f9f9f9;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: hsl(208, 92%, 54%);
  color: white;
  flex-wrap: wrap;

  /* FIXO NO TOPO */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* deixa acima do conteúdo */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.home-header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home-header img {
  width: 50px;
  height: 50px;
}

a {
  text-decoration: none;
  /* remove underline de todos os links */
  color: inherit;
  /* mantém a cor do texto */
  cursor: pointer;
  /* deixa mãozinha ao passar o mouse */
}

.menu {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.menu a {
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: hsl(208, 100%, 85%);
}


#horizontal-bar {
  width: 100%;
  height: 50px;
  background: var(--sidebar-color);
  color: var(--sidebar-txt-color);
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.horizontal-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
}

.horizontal-menu li {
  margin-right: 20px;
}

.horizontal-menu li a {
  color: var(--sidebar-txt-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.horizontal-menu li a i {
  margin-right: 8px;
}


.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.password-field {
  position: relative;
}

.password-field input {
  width: 100%;
  padding-right: 40px;
}

.password-field i.fa-eye,
.password-field i.fa-eye-slash {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}


.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #EFBF04;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #727272;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #727272;
}

.input-field input::placeholder {
  color: #727272;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #856A00;
  border-color: #856A00;
}

.btn {
  width: 150px;
  background-color: #EFBF04;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #856A00;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #EFBF04 0%, #EFBF04 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 85%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 5rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 5rem 12% 2rem 17%;
}

.content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.content h3 {
  line-height: 1;
  margin-top: 5%;
  font-size: 26px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}

.content p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.5;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}


.login-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  /* cor do texto */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
  filter: brightness(1.2);
  /* deixa o botão mais claro no hover */
}

.login-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {

  .home-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .menu {
    width: 100%;
    justify-content: center;
  }

  .banner {
    flex-direction: column;
    text-align: center;
    display: flex;
  }

  .banner-text {
    text-align: center;
  }

  .banner-text h1 {
    font-size: 2rem;
  }

  .banner-text p {
    font-size: 1rem;
  }

  .banner-img img {
    max-width: 250px;
  }


  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    top: 10%;
  }

  .panels-container h3 {
    display: none;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }


  .content h3 {
    line-height: 1;
    margin-top: 5%;
    font-size: 26px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .content p {
    padding-top: 20px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container {
    min-height: 800px;
    height: 100vh;
  }

  .container:before {
    width: 800px;
    height: 400px;
    transform: translate(-50%, 20%);
    top: initial;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 140%);
    bottom: 10%;
  }

  .container.sign-up-mode::before {
    width: 800px;
    height: 200px;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .container .right-panel {
    padding-bottom: 100px;
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 35%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }

  .panel .content {
    padding: 0.5rem 1rem;
  }

  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }

  .forms-container {
    top: -10%;

  }
}