h2,
h1,
p,
a,
h3,
li {
    font-family: "Open Sans", sans-serif;
}

.home-container {
    font-family: "Montserrat", sans-serif;
    color: hsl(220, 68%, 4%);
    background: #f9f9f9;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    color: white;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.home-header .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #333;
}

.home-header img {
    width: 50px;
    height: 50px;
}

.menu {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    color: #333;
}

.menu a {
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    color: #333;
}

.menu a:hover {
    color: hsl(51, 98%, 42%);
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
}

.banner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.banner-item {
    cursor: pointer;
}

.banner-image {
    width: 100%;
    max-width: 1100px;
    border-radius: 10px;
    transition: transform 0.2s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.banner-image:hover {
    transform: scale(1.02);
}


@media (max-width: 768px) {
    h1 span {
        display: block;
        margin-top: 4px;
    }

    .home-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .menu {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .home-header {
        padding: 1rem;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .banner-text h1 {
        font-size: 1.5rem;
    }

    .banner-text p {
        font-size: 0.9rem;
    }

    .banner-text button {
        width: 100%;
    }
}