
.numismatico {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}
.mainNumismatico {
    padding-top:50px;
    width: 100%;
    overflow: auto;
    max-height: 100%;
}

:host ::ng-deep .mainNumismatico:not(.mainNumismatico) {
    display: none;
}

@media (max-width: 1024px) {
 .mainNumismatico {
    padding-top:0px;
    width: 100%;
    overflow: auto;
    max-height: 100%;
}
}

@media (max-width: 600px) {
  .mainNumismatico {
    padding-top:0px;
    width: 100%;
    overflow: auto;
    max-height: 100%;
}
}