.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 5px;
}

.tabs button {
  background: none;
  border: none;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #666;
  border-bottom: 3px solid transparent;
  border-radius: 4px 4px 0 0;
}

.tabs button.active {
  color: #007bff;
  border-bottom-color: #007bff;
  font-weight: bold;
}

.tabs button:hover {
  color: #0056b3;
}

.tab-content {
  border-radius: 0 0 8px 8px;
  animation: fadeSlide 0.2s ease;
  overflow-x: auto;
}

/* /////////////// TAB 2 ////////////// */

.tabs2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tabs2 button {
  background: none;
  border: none;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #666;
  border-bottom: 3px solid transparent;
  border-radius: 4px 4px 0 0;
}

.tabs2 button.active {
  color: #007bff;
  border-bottom-color: #007bff;
  font-weight: bold;
}

.tabs2 button:hover {
  color: #0056b3;
}

.tab2-content {
  border-radius: 0 0 8px 8px;
  margin-bottom: 1rem;
  animation: fadeSlide 0.2s ease;
  overflow-x: auto;
}

.scroll-container {
  height: 690px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 16px;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 150px 0 150px;
}

.coin-card.owned {
  background: #aaa014;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(212, 175, 55, 0.3);
}

.coin-card.owned p {
  color: #fff;
}

.coin-card {
  background: #1c1c1c;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.coin-card img {
  width: 100%;
  height: 90px;
  transition: all 0.3s ease;
}

.coin-card.owned img {
  opacity: 1;
  filter: none;
}

.coin-card.missing img {
  opacity: 0.3;
  filter: grayscale(100%);
}

.coin-card:hover {
  transform: scale(1.07);
}

.coin-title {
  font-size: 13px;
  color: #eee;
  margin-top: 5px;
}

.coin-year {
  font-size: 12px;
  color: #aaa;
}

.progress-bar {
  position: relative;
  width: 80%;
  max-width: 500px;
  height: 25px;
  background: #333;
  border-radius: 20px;
  margin: 0 auto 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #4caf50, #00c853);
  transition: width 0.5s ease;
}

.progress-text {
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 2px black;
  text-align: center;
}

/* /////// FILTRO /////// */
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  background-color: #f3f3f3;
  border-bottom: 1px solid #ddd;
  top: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.filters input[type="text"],
.filters input[type="number"],
.filters select {
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
}

.filters input[type="text"]:focus,
.filters input[type="number"]:focus,
.filters select:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

.filters button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.filters button:hover {
  background-color: #0056b3;
}

button.btn-limpar {
  background-color: #EFBF04 !important;
  color: #000 !important;
  border-radius: 6px !important;
}

.filter-toggle {
  background: #efbf04;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background 0.3s;
}

.filters .btn-pdf {
  background: #d23f31;
  color: #fff;
}

.selected-country {
  height: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
  /* margin: 10px 0; */
}

.selected-country .fi {
  font-size: 1.5rem;
}

.selected-country h2 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 600;
}

.mobile-filter-bar {
  display: none;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.filter-toggle:hover {
  background: #d8aa02;
}

@media (max-width: 768px) {
  .selected-country {
    height: auto;
    overflow: visible;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    /* margin: 10px 0; */
  }

  .mobile-filter-bar {
    display: flex;
    padding: 1rem 2rem 0 2rem;
  }

  .filters,
  .tabs.country-tabs {
    display: none;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 12px;
  }

  .filters.show,
  .tabs.country-tabs.show {
    display: flex;
  }

  .filters input,
  .filters button,
  .tabs.country-tabs button {
    width: 100%;
    justify-content: center;
  }

  .tabs.country-tabs button {
    background: #333;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.2s;
  }

  .tabs.country-tabs button:hover {
    background: #555;
  }

  .tabs.country-tabs button.active {
    background: #efbf04;
    color: #111;
    font-weight: 700;
  }

  .album-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    max-height: calc(95vh - 220px);
    overflow-y: auto;
    padding: 0px 8px 0 8px;
  }

  .progress-container {
    margin-bottom: 4px;
  }
}