<div class="filters">
  <input type="text" placeholder="Buscar por nome" [(ngModel)]="searchName" (input)="applyFilters()">
  <select [(ngModel)]="selectedCountry" (change)="onCountryChange($event)">
    <option *ngFor="let country of availableCountries" [value]="country.name">
      {{ country.name }}
    </option>
  </select>
  <select [(ngModel)]="selectedCategory" (change)="applyFilters()">
    <option value="">Todas categorias</option>
    <option *ngFor="let cat of uniqueCategories" [value]="cat">
      {{ cat === 'coin' ? 'Moeda' : cat === 'banknote' ? 'Cédula' : cat }}
    </option>
  </select>

  <input type="number" placeholder="Ano mínimo" [(ngModel)]="minYear" (input)="applyFilters()">
  <input type="number" placeholder="Ano máximo" [(ngModel)]="maxYear" (input)="applyFilters()">

  <button class="btn-limpar" (click)="clearFilters()">Limpar filtros</button>

</div>

<div class="coins-container">
  <a *ngFor="let coin of paginatedCoins" [routerLink]="['/coin', coin.id]" class="coins-container-a">
    <div class="coin-card">
      <div class="coin-images">
        <img *ngIf="coin.obverse" [src]="'assets/img/imagens/' + coin.obverse" alt="Obverse">
        <img *ngIf="coin.reverse" [src]="'assets/img/imagens/' + coin.reverse" alt="Reverse">
      </div>

      <div class="coin-info">
        <h3>{{ coin.title }}</h3>
        <p class="issuer">
          {{ coin.categoryDisplay }}
          <img *ngIf="coin.showBrazilFlag" src="assets/img/bandeira-Brasil.png" alt="Brasil" class="flag">
        </p>
        <p *ngIf="coin.min_year || coin.max_year">
          Ano: {{ coin.min_year }} - {{ coin.max_year }}
        </p>
      </div>

      <div class="btn">
        <button type="button" (click)="verDetalhes(coin.id); $event.stopPropagation(); $event.preventDefault();">
          <i class="fa-solid fa-eye"></i>
        </button>
        <button type="button" class="icon-inline" (click)="abrirModal($event, coin.id, coin.type)">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>
  </a>
</div>

<div class="pagination">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>

  <span>Página {{ currentPage }} de {{ totalPages }}</span>

  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Próxima</button>
</div>

<app-modal-coin *ngIf="showModal" [show]="showModal" [coin]="coin" [coinEntries]="coinEntries"
  (closed)="showModal = false">
</app-modal-coin>